%alittle{
    a{
        height: 125px;
        width: inherit;
        text-decoration: none;
        color: white;
        .katalog__fon{
            position: relative;
            bottom: 18px;
            background-color: black;
            width: inherit;
            height: inherit;
            h3{
                position: relative;
                top: 20px;
                left: 20px;
                z-index: 100;
            }
            p{
                position: relative;
                top: 5px;
                left: 20px;
                z-index: 100;
            }
            .imag{
                position: relative;
                bottom: 74px;
                opacity: .7;
                transition: all .3s ease;
                width: inherit;
            }
        }
    }
    a:hover{
        .imag{
            opacity: .5;
        }
    }
}
%abig{
    a{
        text-decoration: none;
        color: white;
        height: 250px;
        width: inherit;
        .katalog__fon{
            position: relative;
            bottom: 18px;
            background-color: black;
            width: inherit;
            height: inherit;
            h3{
                position: relative;
                top: 20px;
                left: 20px;
                z-index: 100;
            }
            p{
                position: relative;
                top: 5px;
                left: 20px;
                z-index: 100;
            }
            .imag{
                position: relative;
                bottom: 74px;
                opacity: .7;
                transition: all .3s ease;
                width: inherit;
            }
        }
    }
    a:hover{
        .imag{
            opacity: .5;
        }
    }
}
body{
    margin: 20px 0px;
    .katalog{
        display: grid;
        grid-template-columns: repeat(4, minmax(200px,350px));
        grid-template-rows: repeat(2, 125px) 250px;
        grid-template-areas: "div-1 div-2 div-3 div-4"
                             "div-5 div-2 div-6 div-4"
                             "div-7 div-8 div-9 div-10";
        .div-1{
            grid-area: div-1;
            @extend %alittle;
        }
        .div-2{
            grid-area: div-2;
            @extend %abig;
        }
        .div-3{
            grid-area: div-3;
            @extend %alittle;
        }
        .div-4{
            grid-area: div-4;
            @extend %abig;
        }
        .div-5{
            grid-area: div-5;
            @extend %alittle;
        }
        .div-6{
            grid-area: div-6;
            @extend %alittle;
        }
        .div-7{
            grid-area: div-7;
            @extend %abig;
        }
        .div-8{
            grid-area: div-8;
            @extend %abig;
        }
        .div-9{
            grid-area: div-9;
            @extend %abig;
        }
        .div-10{
            grid-area: div-10;
            @extend %abig;
        }
    }   
}