.menu{
    margin: 0 auto;
    padding: 0;
    width: 700px;
}
.main-menu{
    height: 50px;
    list-style-type: none;
    background-color: #6699ff;
    text-align: center;
}
.main-menu>li{
    margin: 8px 10px 8px 30px;
    padding: 2px 14px 4px;
    background-color: #4960fb;
    border: 2px solid #071eb9;
    border-radius: 1px 20px;
    display: inline-block;
    position: static;
    transition: all 0.7s ease 0s;
}
.main-menu #first{
    color: #f2f2f2;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}
.main-menu>li:hover{
    background-color: #ccc;
    border-radius: 20px 1px;
}
.main-menu>li:hover #first{
    color: #0e25c0;
}
.podmenu{
    display: none;
    margin: 0;
    padding: 0;
    height: auto;
    list-style-type: none;
}
.main-menu li:hover .podmenu{
    display: block;
    margin: 8px 10px 8px 0;
    padding: 2px 14px 4px;
    text-align: center;
}
.podmenu li{
    margin: 5px;
    padding: 5px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}
.podmenu>li #second{
    text-decoration: none;
    font-size: 12pt;
}
/* .form{
    width: 500px;
    margin: 10px auto;
} 
.form_input{
    width: 100%;
    border-bottom: green;
    padding: 10px 20px;
    border: none;
    box-sizing: border-box;
    margin-top: 10px;
}
hr{
    height: 3px;
    background: green;
}
.form_input-submit{
    margin-top: 5px;
    color: white;
    background-color: green;
} */
